#post * {
    font-family: 'Comfortaa', cursive;
    color: whitesmoke;
    margin: 0.2em 0;
    font-size: 1.8rem;
    text-align: justify;
    font-weight: 300;
    text-justify: inter-word;
    letter-spacing: 0.05rem;
    line-height: 2em !important;
    text-indent: 6rem;
    overflow-wrap: break-word;
}
/* #post p {
    text-transform:capitalize;
} */
#post ol li {
    margin: 0;
    text-indent: 2rem;
    margin-left: 6rem;
}
li::marker {

    color: #abb7c4;   
}

#post ul li {
    list-style: circle;
    text-indent: 2rem;
    margin-left: 6rem;
}

#post h1 {
    font-size: 6rem;
  } 
#post  h2 {
    font-size: 5rem;
}
#post h3 {
    font-size: 4.5rem;
  }
  
#post  h4 {
    font-size: 4rem !important;
}
#post h5 {
    font-size: 3.5rem;
  } 
#post  h6 {
    font-size: 3rem;
    margin: 15px 0;
}
#post h1, #post h2, #post h3, #post h4, #post h5, #post h6 {
    text-indent: 0;
    text-align: center;

}
#post h1, #post h2, #post h3, #post h4, #post h5, #post h6, #post strong {
    font-weight: bold;
}

#post blockquote {
    position: relative;
    left: 6rem;
    text-indent: 0;
}
#post blockquote p{
    text-indent: 1rem;   
}
#post pre {
    text-indent: 0;
    color: #abb7c4; 
    background-color: #071829;
    margin: 2rem 3rem;
    padding: 1rem 4rem;
    border-radius: 2rem;
    border: 0.1rem solid #4280bf;
}
#post a span {
    text-decoration: underline;
    color: #4280bf; 
    transition: color 0.5s ease;
    font-style: italic; 
    letter-spacing: 0.15rem;
}
#post a span:hover {
    color: #dcf836;  
    font-weight: bold;

}
#post hr {
    border: 0.1rem solid #4280bf;
    border-radius: 0.1rem;
}

    div a img.book-grid { 
        width: 100%;
        height: 26rem;
        border: 0.3rem solid #405266;
    }
@media (max-width: 767px) {
    .movie-item-style-2 .mv-item-infor {
        max-width: 180px;
        margin: 0;
    }
}

#tags {
    display: flex;
    align-items: center; 
}
#tags span {
 align-self: center;
 margin: 0 0.2rem;
 margin-top: 1.2rem;
}
#tags span a {
    color: white;
}
.sidebar .sb-it form input.search-bar, div.row div.form-it .search-bar {
    border-radius: 5rem !important;
    border: 2px solid #405266;
    transition: all 0.5s linear;
    letter-spacing: 0.08rem;
    font-weight: bold;
    color: white !important;
    background: url('/static/images/uploads/search-bgsb.png') no-repeat right 15px center;
    background-size: 16px;
    background-color: #071829;
}
.sidebar .sb-it form input.search-bar:hover, .sidebar .sb-it form input.search-bar:focus,
div.row div.form-it .search-bar:hover, div.row div.form-it .search-bar:focus {
    border: 2px solid #dcf836 !important;
    background-color: #020d18;
    background-size: 0;
}
div.row div.form-it .search-rate {
    background-image: none;

}

div.row div.blog-it-infor p {
    color: white !important;
}

#loginfail, i.fa-times-circle {

    color: #D8000C;
    background-color: #FFD2D2;
    padding: 1rem 2rem;
    border-radius: 3rem;

}
.login-content .lg {
    margin-top: 1rem;
}
.logout a {
    background: #1692bb !important;
}

header .navbar-default .navbar-nav li.btn a:hover,header .navbar-default .navbar-nav li.btn a:focus {
    color: #dcf836;
}
header .navbar-default .navbar-nav li.btn  {
margin-left: 1rem;
}

ul li.alert {
    border-radius: 3rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    border: 0.25rem solid ;
    padding: 1rem 1rem;
    /* background: linear-gradient(
    to right, 
    inherit 0%,
    inherit 50%,
    inherit 100%) */

}
ul#pop-up, ul li#popup {
    opacity: 1;
    transition: all 0.6s ease-in;
    word-wrap: break-word;

}
ul#pop-up{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0rem;
}
header .container, header .container::before {
    position: relative;
}

i.form-sub {
    font-size: 1.1rem;

    opacity: 0.6;
}